"""
gitignore - цей файл вказує Git, які файли та папки ігнорувати в репозиторії.

"""

# Ігноруємо віртуальне середовище
venv/
.venv/
env/

# Ігноруємо скомпільовані файли Python
__pycache__/
*.py[cod]

# Ігноруємо змінні середовища (СЕКРЕТИ!)
.env

# Ігноруємо налаштування редактора
.vscode/
.idea/